*{
	margin: 0 ;
	padding: 0;
}
input{
outline:none;
}
body{
	height: 100%;
	width: 100%;
	background: #dcd9d2;
	
}

.upload-head{
	width: 100%;
	background: #33333d;
	
	height: 9vh;
}
.upload-head>p{
	width: 50.6%;
	margin: 0 auto;
	height: 9vh;
	line-height: 9vh;
}
.upload-head>p>img{
	float: left;
	height: 10vh;
}
.upload-head>p>span{
	height: 9vh;
	margin-left: 26px;
    display: inline-block;
    line-height: 9vh;
   
}
.upload-head>p>span>a{
	color: #ffffff;
	font-size: 2vh;
	text-decoration: none;
}
.upload-wrap{
	width: 100%;
	background: url(/assets/images/uploadbg.png) no-repeat;
	background-size: 100% 100%;
}
.upload-content{
	width: 814px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 40px;
}

.cs-sel{
	width: 20px;
	height: 20px;
	
}
#upimg{
	width: 202px;
	height: 159px;
	text-align: center;
	font-size: 14px;
	line-height: 159px;
	color: #ff9933;
	border: 5px solid #ff9933;
	border-radius: 20px;
	background: #fff;
	float: left;
}
.up-r{
	float: left;
}
.ssss{
	overflow: hidden;
}
#up-vid{
	text-align: center;
	width: 520px;
	height: 78px;
	line-height: 78px;
	background: #fff;
	color: #ff9933;
	text-align: center;
	font-size: 14px;
	border: 5px solid #ff9933;
	border-radius: 20px;
	margin-left: 30px;
}
.aaaa{
	padding-left: 30px;
	font-size: 12px;
	color: #33333d;
	text-align: center;	
}
.bb{
	/*margin-top: 22px;*/
}
#jqmeter-container{
	margin: 10px 0;
	visibility: hidden;
}
.vvv{
	font-size: 14px;
	color: #33333d;
	margin-left: 53px;
	margin-right:40px ;
}
.lll{
	height: 127px;
	line-height: 127px;
}
.lll img{
	float: left;
	margin-top: 51px;
	margin-right: 15px;
}
.lll>div{
	display: inline-block;
}
.ooo{
	margin-right: 69px;
}
.v-title{
	padding-left: 9px;
	width: 570px;
	height: 70px;
	border-radius: 20px;
	border: 0;
	margin-bottom: 35px;
}
.v-ps{
	width: 550px;
	height: 130px;
	padding-left: 9px;
	resize: none;
	padding: 10px;
	border-radius: 20px;
	border: 0;
	margin-bottom: 35px;
}
.v-addtitle{
	width: 570px;
	padding-left: 9px;
	height: 70px;
	border-radius: 20px;
	border: 0;
	margin-bottom: 35px;
}
input::-moz-placeholder{
	color: #aaaaaa;
}
input::-ms-input-placeholder{
	color: #aaaaaa;
}
input:-o-placeholder{
	color: #aaaaaa;
}
.ppp{
	font-size: 12px;
	color: #ff9933;
	text-align: center;
	margin-bottom: 15px;
}
.qrfb{
	width: 680px;
	height: 86px;
	line-height: 86px;
	background: #ff9933;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	font-size: 22px;
	margin-bottom: 35px;
	border-radius: 50px;
}
.iii{
	width: 814px;
	text-align: center;
}
.lab-el{
	display: inline-block;
	color: #e8c58d;
	font-size: 14px;
	border: 2px solid #e8c58d;
	border-radius:20px ;
	background: #fff;
	padding: 10px 20px;
	margin-bottom: 20px;
	position: relative;
}
.lab-el img{
	position: absolute;
	width: 20px;
	height:20px;
	top: -3px;
	right:-5px;
}
/*===========================login=================================*/

.login-wrap{
	background: url(/assets/images/loginbg.png) no-repeat;
	background-size:100% 100%;
	width: 85%;
	margin:8% auto 8%;
	height:60vh;
}
.login-dl{
	width: 27.3vw;
	height: 47.9vh;
	background: #fff;
	float: right;
	margin: 3% 5% 0 0;
	border-radius: 20px;
}
.ahhh-wrap, .abbb-wrap{
	margin: 0 auto;
	width: 22vw;
	position: relative;
}
.ahhh{
	width: 19vw;
	margin: 0 auto;
	height: 7vh;
	background: #f0ede7;
	border: 0;
	border-radius: 15px;
	padding-left: 3vw;
	font-size: 18px;
}
.ahhh-wrap{
	margin-top:15%;
}
.xi{
	width: 22vw;
	border: 1px solid #eeeeee;
	margin: 4% auto;
}
.abbb{
	border: 0;
	background: #f0ede7;
	font-size: 18px;
	width: 19vw;
	margin: 0 auto;
	border-radius: 15px;
	padding-left: 3vw;
	height: 7vh;
}
.ahhh-wrap span{
	display: inline-block;
	position: absolute;
	top: 30%;
	left: 5%;
	z-index: 1;
	width: 2.5vh;
	height: 2.7vh;
	background: url(/assets/images/r.png) no-repeat;
	background-size:2.5vh 2.7vh ;
}
.abbb-wrap span{
	display: inline-block;
	position: absolute;
	top: 30%;
	left: 5%;
	z-index: 1;
	width: 2.5vh;
	height: 2.7vh;
	background: url(/assets/images/m.png) no-repeat;
	background-size:2.5vh 2.7vh ;
}
.login-dl input::-ms-input-placeholder{
	color: #999;
	font-size: 18px;
}
.aaannn{
	border: 0;
	background: #f0ede7;
	font-size: 22px;
	width: 22vw;
	margin: 0 auto;
	border-radius: 15px;
	height: 7vh;
	background: #ffa94c;
	text-align: center;
	font-size: 2.5vh;
	color: #fff;
	margin-top: 9vh;
	cursor: pointer;
	line-height: 7vh;
	}
.tg{
	font-size: 2.8vh;
	color: #fff;
	width:6.5vw;
	float: right;
	font-weight: normal;
	display: inline-block;
	height:10vh;
	border-radius: 0 0 20px 20px;
	background: #ffa94c;
	text-align: center;
	cursor: pointer;
	line-height:10vh;
}
/*==============================index========================*/

.index-wrap{
	background: url(/assets/images/indexbg.png) no-repeat;
	background-size:100% 100% ;
	width: 100%;
	height: 100vh;
}

.index-wrap{
	
}
.and{
	background: #fff ;
	/*width: 12.8vw;*/
	font-size: 3vh;
	line-height: 10vh;
	border-radius: 15px;
	color: #30253c;
	/*height:10vh;*/
	float: left;
	position: absolute;
	top: 76vh;
	cursor: pointer;
	left:40vw;
}
.adc{
	background: #fff ;
	padding: 1.5vh;
	position: absolute;
	top: 70vh;
	border-radius: 15px;
	left:45vw;
	height: 17vh;
	width: 17vh;
}
.adc img{
	height: 17vh;
	width: 17vh;
}
.af{
	position: absolute;
	right:-17vh;
	top: 6vh;
	border-radius: 0  15px 15px 0 ;
	width: 17vh;
	background: #fff;
	height: 8.5vh;
	line-height: 8.5vh;
	font-size: 3vh;
	color: #ff8400;	
}
.ios{
	background: #fff url(/assets/images/ios.png) 20px 50% no-repeat;
	background-size: 2.5vw 7.9vh;
	width: 12.8vw;
	font-size: 3vh;
	cursor: pointer;
	line-height: 10vh;
	padding-left: 80px;
	border-radius: 15px;
	color: #30253c;
	height: 10vh;
	float: left;
	position: absolute;
	top: 76vh;
	left:60vw;
}
#upimg img{
	max-width: 202px;
	max-height: 159px;
	
}
.img_nnn{
	width: 100%;
}
.img_nnn img{
	width: 100%;
	float: left;
}
.tg1{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3.8em;
	cursor: pointer;
}
