.head-top{
	overflow: hidden;
	background:#f5f5f5 url(/assets/images/head-top.png) no-repeat;
	background-size: 10rem 1.52777rem;
	width: 10rem;
	position: fixed;
	top: 0;
	height: 1.52777rem;
	z-index: 30;
}
.head-bottom{
	position: fixed;
	bottom: 0;
	background: url(/assets/images/head-bottom2.png) no-repeat;
	width: 10rem;
	height: 2.41666rem;
	background-size:10rem 2.41666rem;
}
.down-app{
	width: 3.41666rem;
	height: 1.05555rem;
	border: 0.05555rem solid #ff9933;
	border-radius:0.13888rem;
	font-size: 0.38888rem;
	color: #fdb066;
	margin-left: 6.25rem;
	margin-top: 0.2rem;
	text-align: center;
	line-height: 1.05555rem;
	cursor: pointer;
}
.down-open{
	width: 2.22222rem;
	height: 0.80555rem;
	line-height: 0.80555rem;
	text-align: center;
	font-size: 0.375rem;
	color: #ffa44c;
	border-radius: 0.13888rem;
	background: #fff;
	margin-left: 7.38888rem;
	cursor: pointer;
	margin-top: 1.22222rem;
}
