.mui-preview-image.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			.mui-preview-header,
			.mui-preview-footer {
				position: absolute;
				width: 100%;
				left: 0;
				z-index: 10;
			}
			.mui-preview-header {
				height: 44px;
				top: 0;
			}
			.mui-preview-footer {
				height: 50px;
				bottom: 0px;
			}
			.mui-preview-header .mui-preview-indicator {
				display: block;
				line-height: 25px;
				color: #fff;
				text-align: center;
				margin: 15px auto 4;
				width: 70px;
				background-color: rgba(0, 0, 0, 0.4);
				border-radius: 12px;
				font-size: 16px;
			}
			.mui-preview-image {
				display: none;
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			.mui-preview-image.mui-preview-in {
				-webkit-animation-name: fadeIn;
				animation-name: fadeIn;
			}
			.mui-preview-image.mui-preview-out {
				background: none;
				-webkit-animation-name: fadeOut;
				animation-name: fadeOut;
			}
			.mui-preview-image.mui-preview-out .mui-preview-header,
			.mui-preview-image.mui-preview-out .mui-preview-footer {
				display: none;
			}
			.mui-zoom-scroller {
				position: absolute;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-backface-visibility: hidden;
			}
			.mui-zoom {
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
			.mui-slider .mui-slider-group .mui-slider-item img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
				width: 100%;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
				display: inline-table;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
				display: table-cell;
				vertical-align: middle;
			}
			.mui-preview-loading {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: none;
			}
			.mui-preview-loading.mui-active {
				display: block;
			}
			.mui-preview-loading .mui-spinner-white {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				height: 50px;
				width: 50px;
			}
			.mui-preview-image img.mui-transitioning {
				-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
				transition: transform 0.5s ease, opacity 0.5s ease;
			}
			@-webkit-keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@-webkit-keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			p img {
				max-width: 100%;
				height: auto;
			}
			.workes-wrap{
				width: 9.47222rem;
				margin: 0 auto;
			}
			
.mui-content-padded{
	width: 10rem;
	text-align: center;
	margin: 0 auto;
}
.worke-img{
	overflow: hidden;
	width:10rem;
	margin: 0 auto;
	
}
.submit-ll {
    background: #d5d3d4;
    padding: 0.25rem 0;
    position: absolute;
    bottom: 0;
    width: 10rem;
}input {
-webkit-user-select: auto !important;
}
.mui-content-padded>p img{
	width: 100%;
	float: left;
	text-align: center;
}
.worke-title{
	font-size: 0.48611rem;
	color: #333333;
	margin: 0.36111rem 0 0.47222rem 0;
}
.span-oun{
	font-size: 0.375rem;
	color: #999999;
	margin-right: 0.27777rem;
}
.yellow{
	font-size: 0.31944rem;
	color: #ff9933;
}
.worke-name{
	font-size: 0.31944rem;
	color: #333;
	margin-right: 0.55555rem;
}
.bor-rad{
	font-size: 0.31944rem;
	color: #ff9933;
	border: 2px solid #ffc18b;
	border-radius: 0.69444rem;
	padding: 0.05555rem 0.125rem;
	margin-right: 0.11111rem;
}
.mtop{
	margin-bottom: 0.18055rem;
}
.worke-title-fu{
	word-break: break-all;
	font-size: 0.37333rem;
	color: #333;
	margin: 0.55555rem  0  0.27777rem 0;
}
.name-work{
	font-size: 0.37888rem;
	color: #999;
	margin-bottom: 0.45833rem;
}
.work-conter{
	font-size: 0.375rem;
	color: #333;
	line-height: 0.75rem;
}
.worker-bottom{
	width:9.47222rem ;
	margin: 0 auto; 
}

.worker-bottom p:nth-child(1){
	width: 9.23611rem;
	margin: 0 auto;
	height: 1.13888rem;
	line-height: 1.13888rem;
	background: url(../images/ic_03.png) 0.25rem 50%  no-repeat;
	background-size: 0.51388rem;
	padding-left: 0.90277rem;
	font-size: 0.33763rem;
	color: #333333;
	border-bottom: 1px solid #c3c3c3;
}
.worker-bottom p:nth-child(2){
	width: 9.23611rem;
	margin: 0 auto;
	height: 1.13888rem;
	line-height: 1.13888rem;
	background: url(../images/ic_06.png) 0.25rem 50%  no-repeat;
	background-size: 0.51388rem;
	padding-left: 0.90277rem;
	font-size: 0.33763rem;
	color: #333333;
	border-bottom: 1px solid #c3c3c3;
}
.worker-bottom p:nth-child(3){
	width: 9.23611rem;
	margin: 0 auto;
	height: 1.13888rem;
	line-height: 1.13888rem;
	background: url(../images/ic_08.png) 0.25rem 50%  no-repeat;
	background-size: 0.51388rem;
	padding-left: 0.90277rem;
	font-size: 0.33763rem;
	color: #333333;
}
.backpic-conter{
	width: 8.97222rem;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 0.45333rem;
	
}
.back-title{
	font-size: 0.30555rem;
	color: #333333;
	margin: 0.25rem 0 0.66666rem 0;
	
	
}
.back-title-one{
	padding-left: 0.2rem;
	font-size: 0.32rem;
	color: #999999;
	margin-top: 0.13333rem;
	margin-bottom: 0.28rem;
	line-height:0.54rem ;
}
.back-photo{
	width: 10rem;
	overflow: hidden;
}
.back-photo li{
	width: 2.95833rem;
	overflow: hidden;
	float: left;
	height:2.95833rem;
	margin-right: 0.09333rem;
}
.back-photo li img{
	width: 100%;
	height: 100%;
}
.backpic-user{
	float: left;
	width: 1.10666rem;
	
}

.backpic-user img{
	width: 1.01388rem;
	height: 1.01388rem;
}
.back-data{
	overflow: hidden;
	/*width: 6.18055rem;*/
	margin-top: 0.20833rem;
	margin-left: 0.22666rem;
	float: left;
}
.back-data p:nth-child(1){
	font-size: 0.37333rem;
	color: #333;
}
.back-data p:nth-child(2){
	font-size: 0.29333rem;
	color: #999999;
	margin-top: 0.11111rem;
}
.back-hack img{
	width: 0.42666rem;
	height: 0.44rem;
	float: left;
	margin-top: 0.06666rem;
	margin-right: 0.13rem;
	
}
.back-hack span{
	font-size: 0.27777rem;
	color: #f7be80;
	border-radius: 0.69444rem;
	padding: 0.13888rem 0.41666rem;
	border: 0.04166rem solid #f7be80;
}
.back-hack{
	float: right;
	padding-top:0.4rem ;
}
.backpic-wrap{
	margin-bottom: 0.27777rem;
	overflow: hidden;
}
.biao-map{
	display: inline-block;

	background: url(../images/map_03.png)0 40% no-repeat;
		background-size:0.23611rem 0.33333rem ;
	padding-left: 0.36111rem;
	font-size: 0.26388rem;
	color: #b9b9b9;
	margin-left: 0.26388rem;
}
.biaoq{
	border-bottom: 0.11111rem solid #eee;
	padding-bottom: 0.25rem;
}
.biao-time{
	display: inline-block;
	margin-left: 0.23611rem;
	background: url(../images/map_07.png) 0 40% no-repeat;
	background-size:0.29166rem 0.30555rem ;
	padding-left: 0.41666rem;
	font-size: 0.26388rem;
	color: #b9b9b9;
}
.biao-yl{
	display: inline-block;
	float: right;
	background: url(../images/mis_03.png) 0 40% no-repeat;
	background-size:0.29166rem 0.29166rem ;
	padding-left: 0.36111rem;
	font-size: 0.26388rem;
	color: #b9b9b9;
}
.work-tab{
	overflow: hidden;
	width: 10rem;
}
.work-tab li{
	width: 50%;
	float: left;
	font-size: 0.4225rem;
	color: #bababa;
}
..work-tab{
	text-align: right;
}
.wo-pl span{
	padding:0.30555rem 0.19444rem 0.40277rem  0.19444rem;
	float: right;
	margin-right: 0.76388rem;
}
.wo-dz span{
	padding:0.30555rem 0.19444rem 0.40277rem  0.19444rem;
	float: left;
	/*margin-left: 0.76388rem;*/
}
.sel-bor span{
	color: #ff9933;
	border-bottom:0.08333rem solid #ff9933 ;
}
.pl-conter{
	width: 9.47222rem;
	overflow: hidden;
	margin: 0 auto 0.27777rem;
	padding-bottom:0.27777rem ;
	border-bottom:0.02777rem solid #efefef ;
}
.pl-left{
	width: 1.625rem;
	float: left;
}
.pl-left img{
	width: 1.34722rem;
	height: 1.34722rem;
}
.pl-right{
	float: left;
	width: 7rem;
	
}
.pl-right p:nth-child(1){
	margin-top: 0.13888rem;
}
.title-wo{
	
	font-size: 0.375rem;
	color: #333333;
	line-height: 0.5rem;
	float: left;
}
.aixin{
	float: right;
	font-size: 0.34722rem;
	color: #999999;
	line-height: 0.5rem;
	margin-right: 0.38888rem;
}
.aixin img{
	width: 0.43055rem;
	float: left;
	margin-top: 0.06944rem;
	height: 0.36111rem;
	margin-right: 0.11111rem;
}
.liuyan{
	float: right;
	line-height: 0.5rem;
}
.liuyan img{
	width: 0.38888rem;
	height: 0.38888rem;
	margin-top: 0.06944rem;
}
.pl-right p:nth-child(1){
	overflow: hidden;
}
.wo-co{
	font-size: 0.31944rem;
	color: #333333;
	line-height: 0.61111rem;
}
.wo-bq{
	margin-top: 0.05rem;
	color: #ff9933;
	display: inline-block;
	border: 1px solid #ff9933;
	border-radius:0.41666rem;
	padding: 0.05rem 0.15rem;
	margin-bottom: 0.05rem;
}
