.oun-pl-wrap{
	width: 10rem;
	overflow: hidden;
	padding-bottom: 4.76rem;
	background: url(/assets/images/plbg.png) no-repeat;
	background-size: 10rem;
}
.oun-pl-conter{
	border-top: 0.125rem solid #f5f4ef;
}
.conter-wrap{
	width: 9.44444rem;
	margin: 0 auto;
	padding-top: 0.13888rem;
}
.oun-pl-left{
	float: left;
	width: 1.11111rem;
	text-align: center;
}
.oun-pl-left img{
	margin-top: 0.20833rem;
	border-radius: 0.69444rem;
	width: 0.9rem;
	height: 0.9rem;
}
.oun-pl-right{
	float: left;
	width: 8.33333rem;
}
.oun-name{
	padding-top: 0.13888rem;
	font-size: 0.38888rem;
	color: #333333;
	font-weight: bold;
}
.oun-time{
	font-size: 0.27777rem;
	color: #999999;
	margin-left: 0.34722rem;
}
.pl-one{
	margin-top: 0.13888rem;
}
.oun-rep{
	width: 0.30555rem;
	height: 0.30555rem;
	float: right;
	cursor: pointer;
}
.oun-flo{
	font-size:0.25rem;
	color: #999999;
	margin-top: 0.1rem;
}
.oun-nron{
	font-size: 0.38888rem;
	color: #333333;
    word-break: break-all;
	padding-top: 0.20833rem;
}
.oun-pl-bottom{
	border-top:2px solid #ebebeb;
	margin-top: 0.20833rem;
	padding-top: 0.20833rem;
	padding-left: 1.11111rem;
}
.oun-pl-bottom p{
	margin-bottom: 0.27777rem;
	font-size: 0.38888rem;
	cursor: pointer;
}
.oun-font{
	color: #ff9c00;
}
.oun-font2{
	color: #ff9c00;
}
.oun-more p{
	padding-right: 0.3rem;
	cursor: pointer;
	margin-bottom: 0.34722rem;
	font-size: 0.38888rem;
	text-align: right;
}
.submit-ll{
	background: #d5d3d4;
	padding: 0.25rem 0;
	position: absolute;
	bottom: 0;
	width: 10rem;
}
.fly{
	width:7.2rem;
	border-radius: 0.15rem;
	height: 0.90277rem;
	display: inline-block;
	border: 0;
	line-height: 0.90277rem;
	background: #fff;
	margin-left: 0.27777rem;
	padding-left: 0.27777rem;
	color: #000;
	font-size: 0.36111rem;
}
.fly:-ms-input-placeholder{
	font-size: 0.36111rem;
	color: #bababa;
}
.fly::-moz-placeholder{
	font-size: 0.36111rem;
	color: #bababa;
}
.fly::-webkit-input-placeholder{
	font-size: 0.36111rem;
	color: #bababa;
}
.submit-ll-fs{
	width: 1.72222rem;
	height: 0.90277rem;
	line-height: 0.90277rem;
	text-align: center;
	margin-left: 0.23611rem;
	display: inline-block;
	border:0;
	background: #ff9933;
	color: #fff;
	border-radius: 0.69444rem;
	font-size: 0.36111rem;
}



/*=============================删除评论的==============================================*/
.scpl-wrap{
	width: 10rem;
	height: 4.46666rem;
	position: absolute;
	bottom: 0;
	z-index: 100;
	background: #d6d6d6;
}
.y-title{
	font-size: 0.37333rem;
	color: #333;
	padding: 0.45rem 0;
	text-align: center;
}
.y-qr{
	width: 9.46666rem;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 0.37333rem;
	background: #ff9934;
	border-radius: 0.66666rem;
	padding: 0.37333rem 0;
	cursor: pointer;
}
.y-qx{
	width: 9.46666rem;
	margin: 0 auto;
	text-align: center;
	color: #333333;
	font-size: 0.37333rem;
	background: #fcfcfc;
	border-radius: 0.66666rem;
	padding: 0.37333rem 0;
	cursor: pointer;
	margin-top: 0.37333rem;
}