.video-wrap{
	width: 10rem;
	margin: 1.52777rem auto 0;
	overflow: hidden;
}
.video-tab{
	background:#262932;
	width: 10rem;
	overflow: hidden;
}
.video-tab li{
	float: left;
	width: 50%;
	text-align: center;
	color: #999;
	font-size: 0.375rem;
	background:#262932;
	
}
.video-tab li span{
	padding: 0.22222rem 0.18055rem;
	display: inline-block;
}
.video-select span{
	color:#ff9933;
	border-bottom: 0.06944rem solid #ff9933;
}
.video-conter{
	width: 9.47222rem;
	margin: 0 auto;
}
.video-title{
	font-size: 0.33333rem;
	color: #333333;
	margin: 0.55555rem 0 0.41666rem 0;
}
.video-fu{
	
}
.video-fu li{
	font-size: 0.27777rem;
	color: #bababa;
	margin-bottom: 0.13888rem;
}
.video-ll{
	font-size: 0.31944rem;
	color: #999999;
	margin: 0.41666rem 0;
}
.video-down-wrap{
	border-bottom: 2px solid #eaeae8;
	margin-bottom: 0.23611rem;
}
.voide-down{
	overflow: hidden;
	width: 9.47222rem;
	margin: 0 auto;
	padding: 0.125rem 0;
	
}
.voide-down li{
	float: left;
	
	width: 33%;display: inline-block;
	text-align: center;
	font-size: 0.34722rem;
	color: #999999;
}
.voide-down li:nth-child(1) span{
	display: inline-block;
	background: url(../images/download_03.png) 0 50% no-repeat;
	background-size: 0.375rem 0.375rem;
	padding-left: 0.65277rem;
}
.voide-down li:nth-child(1){
	border-right: 1px solid #e8e7e4;
}

.voide-down li:nth-child(2){
	border-right: 1px solid #e8e7e4;
}


.voide-down li:nth-child(2) span{
	display: inline-block;
	background: url(../images/love_19.png) 0 50% no-repeat;
	background-size: 0.43055rem 0.36111rem;
	padding-left: 0.65277rem;
}
.voide-down li:nth-child(3) span{
	display: inline-block;
	background: url(../images/download_05.png) 0 50% no-repeat;
	background-size: 0.41666rem 0.38888rem;
	padding-left: 0.65277rem;
}
.voide-name{
	margin-top: 0.22222rem;
	overflow: hidden;
	width: 8.77777rem;
	margin: 0 auto; 
}
.video-baqn{
	
}
.video-baqn span{
	display: inline-block;
	font-size: 0.31944rem;
	color: #ffba75;
	padding: 0.13888rem 0.27777rem;
	border: 2px solid #ffba75;
	border-radius: 0.69444rem;
	margin:0.27777rem 0.13888rem 0.27777rem 0;
}
.video-m{
	font-size: 0.33333rem;
	color: #333333;
	margin-top: 0.90277rem;
}
.video-list-wrap{
	width: 9.47222rem;
	margin: 0 auto;
}
.video-list{
	width: 8.77777rem;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 0.625rem;
}
.list-left{
	float: left;
	width: 3.11111rem;
}
.list-right{
	width: 5.66666rem;
	float: left;
}
.list-right p{
	margin-left: 0.18055rem;
}
.list-right p:nth-child(1){
	padding-top: 0.15rem;
	height: 1.11111rem;
	overflow: hidden;
	font-size: 0.40277rem;
	color: #333333;
}
.list-right p:nth-child(2){
	padding-left: 0.38888rem;
	background: url(../images/video_13.png) 0 50% no-repeat;
	background-size: 0.27777rem 0.27777rem;
	font-size: 0.36111rem;
	color: #999;
}
.list-right p:nth-child(3){
	padding-left: 0.38888rem;
	font-size: 0.36111rem;
	background: url(../images/video_16.png) 0 50% no-repeat;
	background-size: 0.27777rem 0.27777rem;
	color: #999;
}
.list-left img{
	width: 3.11111rem;
	height: 2.29166rem ;
}
.voide-img{
	float: left;
}
.voide-img img{
	width: 1.02777rem;
	height: 1.02777rem;
}
.video-gz{
	display: inline-block;
	float: right;
}
.video-name{
	font-size: 0.375rem;
	color: #333333;
	margin-top: 0.13888rem;
	margin-left: 1.4rem;
}
.video-time{
	font-size: 0.25rem;
	color: #bababa;
	margin-left: 1.4rem;
	margin-top: 0.13888rem;
	
}
.video-gz{
	font-size: 0.31944rem;
	color: #ff9933;
	padding: 0.09722rem 0.33333rem;
	border: 2px solid #ff9933;
	border-radius:0.69444rem ;
	margin-top: -0.8rem;
}
